# Import Needed Libraires

In [1]:
import pandas as pd
import numpy as np

# Identify Dataframe

In [6]:
Customers=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'Customers', skiprows=[0,1,3,4,8])
Categories=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'Categories', skiprows=[1,2])
Employees=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'Employees', skiprows=[2])
OrdersDetails=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'OrdersDetails')
Orders=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'Orders', skiprows=[831,832,833,834,835,836,837])
Product=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'Product', skiprows=[2,3])
Shippers=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'Shippers')
Suppliers=pd.read_excel('C:/Users/Cashi/Desktop/salma/Final Project/E-Commerce Project/E-commerce orders.xlsx',sheet_name= 'Suppliers')

# Exploring Data

In [7]:
def data_Specs(Customers):
    print("Initial Specs on data: \n")
    print("Data Shape: ", Customers.shape)
    print("\n---------------------------------------------\n")
    
    s = (Customers.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (Customers.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(Customers)

Initial Specs on data:

Data Shape:  (91, 12)

---------------------------------------------

Category Columns ( 11 ) :
 ['CustomerID', 'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'Phone', 'Fax']

---------------------------------------------

Numeric Columns ( 1 ) :
 ['null']

---------------------------------------------

In [8]:
Customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    91 non-null     object
 1   null          0 non-null      float64
 2   CompanyName   90 non-null     object
 3   ContactName   91 non-null     object
 4   ContactTitle  91 non-null     object
 5   Address       91 non-null     object
 6   City          91 non-null     object
 7   Region        31 non-null     object
 8   PostalCode    90 non-null     object
 9   Country       91 non-null     object
 10  Phone         91 non-null     object
 11  Fax           69 non-null     object
dtypes: float64(1), object(11)
memory usage: 8.7+ KB

In [9]:
Customers.head()

,CustomerID,null,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,NaN,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,NaN,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,NaN,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,NaN,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,NaN,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

# Rename columns

In [10]:
Customers.rename(columns={'CompanyName' : 'CustomerCompanyName'} , inplace=True)
Customers.rename(columns={'Country' : 'CustomerCountry'} , inplace=True)
Customers.rename(columns={'City' : 'CustomerCity'} , inplace=True)

# Check for missing values

In [11]:
print("Null Ratio per Column:")
Customers.isnull().sum()/len(Customers)*100

Null Ratio per Column:

CustomerID               0.000000
null                   100.000000
CustomerCompanyName      1.098901
ContactName              0.000000
ContactTitle             0.000000
Address                  0.000000
CustomerCity             0.000000
Region                  65.934066
PostalCode               1.098901
CustomerCountry          0.000000
Phone                    0.000000
Fax                     24.175824
dtype: float64

# Handle missing values

In [12]:
Customers = Customers.drop(columns=['null'])  
Customers = Customers.drop(columns=['Region'])

In [14]:
Customers['CustomerCompanyName'].fillna('Centro', inplace=True)

C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\2988228682.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Customers['CustomerCompanyName'].fillna('Centro', inplace=True)

In [15]:
Customers['CustomerCompanyName'].replace( 1, 'Centro2', inplace=True)

# cleaning of Categories sheet

In [16]:
def data_Specs(Categories):
    print("Initial Specs on data: \n")
    print("Data Shape: ", Categories.shape)
    print("\n---------------------------------------------\n")
    
    s = (Categories.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (Categories.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(Categories)

Initial Specs on data:

Data Shape:  (8, 4)

---------------------------------------------

Category Columns ( 2 ) :
 ['CategoryName', 'Description']

---------------------------------------------

Numeric Columns ( 2 ) :
 ['CategoryID', 'Picture']

---------------------------------------------

In [17]:
Categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    8 non-null      int64
 1   CategoryName  8 non-null      object
 2   Description   8 non-null      object
 3   Picture       0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 388.0+ bytes

In [18]:
Categories.head()

,CategoryID,CategoryName,Description,Picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",NaN
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",NaN
2,3,Confections,"Desserts, candies, and sweet breads",NaN
3,4,Dairy Products,Cheeses,NaN
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",NaN

In [19]:
print("Null Ratio per Column:")
Categories.isnull().sum()/len(Categories)*100

Null Ratio per Column:

CategoryID        0.0
CategoryName      0.0
Description       0.0
Picture         100.0
dtype: float64

In [20]:
Categories = Categories.drop(columns=['Picture'])

# cleaning of Employees sheet

In [21]:
def data_Specs(Employees):
    print("Initial Specs on data: \n")
    print("Data Shape: ", Employees.shape)
    print("\n---------------------------------------------\n")
    
    s = (Employees.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (Employees.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(Employees)

Initial Specs on data:

Data Shape:  (9, 17)

---------------------------------------------

Category Columns ( 12 ) :
 ['LastName', 'FirstName', 'Title', 'TitleOfCourtesy', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'HomePhone', 'Photo', 'Notes']

---------------------------------------------

Numeric Columns ( 5 ) :
 ['EmployeeID', 'BirthDate', 'HireDate', 'Extension', 'ReportsTo']

---------------------------------------------

In [22]:
Employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EmployeeID       9 non-null      int64
 1   LastName         8 non-null      object
 2   FirstName        9 non-null      object
 3   Title            8 non-null      object
 4   TitleOfCourtesy  8 non-null      object
 5   BirthDate        9 non-null      int64
 6   HireDate         9 non-null      int64
 7   Address          9 non-null      object
 8   City             9 non-null      object
 9   Region           5 non-null      object
 10  PostalCode       9 non-null      object
 11  Country          9 non-null      object
 12  HomePhone        9 non-null      object
 13  Extension        9 non-null      int64
 14  Photo            9 non-null      object
 15  Notes            9 non-null      object
 16  ReportsTo        8 non-null      float64
dtypes: float64(1), int64(4), object(12)
memory usage: 1.3+ KB

In [23]:
Employees.head()

,EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo
0,1,NaN,Nancy,Sales Representative,Ms.,25180,33725,507 - 20th Ave. E.\r\nApt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,EmpID1.bmp,Education includes a BA in psychology from Col...,2.0
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,19043,33830,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,EmpID2.bmp,Andrew received his BTS commercial and a Ph.D....,NaN
2,3,Leverling,Janet,NaN,NaN,23253,33695,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,EmpID3.bmp,Janet has a BS degree in chemistry from Boston...,2.0
3,4,Peacock,Margaret,Sales Representative,Mrs.,21447,34092,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,EmpID4.bmp,Margaret holds a BA in English literature from...,2.0
4,5,Buchanan,Steven,Sales Manager,Mr.,20152,34259,14 Garrett Hill,London,NaN,SW1 8JR,UK,(71) 555-4848,3453,EmpID5.bmp,Steven Buchanan graduated from St. Andrews Uni...,2.0

In [24]:
Employees.rename(columns={'Country' : 'EmployeesCountry'} , inplace=True)
Employees.rename(columns={'City' : 'EmployeesCity'} , inplace=True)

In [25]:
print("Null Ratio per Column:")
Employees.isnull().sum()/len(Employees)*100

Null Ratio per Column:

EmployeeID           0.000000
LastName            11.111111
FirstName            0.000000
Title               11.111111
TitleOfCourtesy     11.111111
BirthDate            0.000000
HireDate             0.000000
Address              0.000000
EmployeesCity        0.000000
Region              44.444444
PostalCode           0.000000
EmployeesCountry     0.000000
HomePhone            0.000000
Extension            0.000000
Photo                0.000000
Notes                0.000000
ReportsTo           11.111111
dtype: float64

In [26]:
def convert_to_date(value):
    try:
        if isinstance(value, (int, float)):
            return pd.to_datetime('1899-12-30') + pd.to_timedelta(value, 'D')
        else:
            return pd.to_datetime(value, format='%Y-%m-%d', errors='coerce')
    except:
        return pd.NaT

In [27]:
Employees['BirthDate'] = Employees['BirthDate'].apply(convert_to_date)
Employees['HireDate'] = Employees['HireDate'].apply(convert_to_date)

In [28]:
Employees['LastName'].fillna('Faried', inplace=True)
Employees['Title'].fillna('Sales Representative', inplace=True)
Employees['TitleOfCourtesy'].fillna('Ms.', inplace=True)
Employees['ReportsTo'].fillna(0, inplace=True)

C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\1953485002.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Employees['LastName'].fillna('Faried', inplace=True)
C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\1953485002.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Employees['Title'].fillna('Sales Representative', inplace=True)
C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\1953485002.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Employees['TitleOfCourtesy'].fillna('Ms.', inplace=True)
C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\1953485002.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Employees['ReportsTo'].fillna(0, inplace=True)

# cleaning of OrdersDetails sheet

In [29]:
def data_Specs(OrdersDetails):
    print("Initial Specs on data: \n")
    print("Data Shape: ", OrdersDetails.shape)
    print("\n---------------------------------------------\n")
    
    s = (OrdersDetails.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (OrdersDetails.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(OrdersDetails)

Initial Specs on data:

Data Shape:  (2155, 5)

---------------------------------------------

Category Columns ( 0 ) :
 []

---------------------------------------------

Numeric Columns ( 5 ) :
 ['OrderID', 'ProductID', 'UnitPrice', 'Quantity', 'Discount']

---------------------------------------------

In [30]:
OrdersDetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    2155 non-null   int64
 1   ProductID  2155 non-null   int64
 2   UnitPrice  2155 non-null   float64
 3   Quantity   2155 non-null   int64
 4   Discount   2155 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 84.3 KB

In [31]:
OrdersDetails.head()

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0

In [32]:
print("Null Ratio per Column:")
OrdersDetails.isnull().sum()/len(OrdersDetails)*100

Null Ratio per Column:

OrderID      0.0
ProductID    0.0
UnitPrice    0.0
Quantity     0.0
Discount     0.0
dtype: float64

# cleaning of Orders sheet

In [33]:
def data_Specs(Orders):
    print("Initial Specs on data: \n")
    print("Data Shape: ", Orders.shape)
    print("\n---------------------------------------------\n")
    
    s = (Orders.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (Orders.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(Orders)

Initial Specs on data:

Data Shape:  (830, 14)

---------------------------------------------

Category Columns ( 8 ) :
 ['OrderID', 'Customer key ', 'ShipName', 'ShipAddress', 'ShipCity', 'ShipRegion', 'ShipPostalCode', 'ShipCountry']

---------------------------------------------

Numeric Columns ( 6 ) :
 ['EmployeeID', 'OrderDate', 'RequiredDate', 'ShippedDate', 'ShipVia', 'Freight']

---------------------------------------------

In [34]:
Orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrderID         829 non-null    object
 1   Customer key    829 non-null    object
 2   EmployeeID      830 non-null    int64
 3   OrderDate       830 non-null    int64
 4   RequiredDate    830 non-null    int64
 5   ShippedDate     809 non-null    float64
 6   ShipVia         830 non-null    int64
 7   Freight         830 non-null    float64
 8   ShipName        830 non-null    object
 9   ShipAddress     830 non-null    object
 10  ShipCity        830 non-null    object
 11  ShipRegion      323 non-null    object
 12  ShipPostalCode  811 non-null    object
 13  ShipCountry     830 non-null    object
dtypes: float64(2), int64(4), object(8)
memory usage: 90.9+ KB

In [35]:
Orders.head()

,OrderID,Customer key,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,WILMK,5,35250,35278,35262.0,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TRADH,6,35251,35293,35256.0,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,S,NaN,4,35254,35282,35258.0,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,35254,35282,35261.0,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,B,SUPRD,4,35255,35283,35257.0,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium

In [43]:
Orders.rename(columns={'Customer key': 'CustomerID'}, inplace=True)
Orders.rename(columns={'ShipVia': 'ShipperID'}, inplace=True)

In [42]:
Orders.columns = Orders.columns.str.strip()

In [41]:
print("Null Ratio per Column:")
Orders.isnull().sum()/len(Orders)*100

Null Ratio per Column:

OrderID            0.120482
CustomerID         0.120482
EmployeeID         0.000000
OrderDate          0.000000
RequiredDate       0.000000
ShippedDate        2.530120
ShipperID          0.000000
Freight            0.000000
ShipName           0.000000
ShipAddress        0.000000
ShipCity           0.000000
ShipRegion        61.084337
ShipPostalCode     2.289157
ShipCountry        0.000000
dtype: float64

In [44]:
Orders['OrderID'].replace( 'S', '10250', inplace=True)
Orders['OrderID'].replace( 'B', '10252', inplace=True)
Orders['OrderID'].replace( 1 , '10258', inplace=True)

C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\4177629769.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Orders['OrderID'].replace( 'S', '10250', inplace=True)
C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\4177629769.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Orders['OrderID'].replace( 'B', '10252', inplace=True)
C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\4177629769.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Orders['OrderID'].replace( 1 , '10258', inplace=True)

In [46]:
Orders['OrderID'].fillna('10255', inplace=True)
Orders['CustomerID'].fillna('HHHHHH', inplace=True)

C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\1122450617.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Orders['CustomerID'].fillna('HHHHHH', inplace=True)

In [47]:
Orders['OrderDate'] = Orders['OrderDate'].apply(convert_to_date)
Orders['ShippedDate'] = Orders['ShippedDate'].apply(convert_to_date)
Orders['RequiredDate'] = Orders['RequiredDate'].apply(convert_to_date)

In [48]:
Orders['OrderID'] = Orders['OrderID'].astype(int)
Orders['EmployeeID'] = Orders['EmployeeID'].astype(int)

In [49]:
Orders = Orders.drop(columns=['ShipRegion'])

# cleaning of Product sheet

In [52]:
def data_Specs(Product):
    print("Initial Specs on data: \n")
    print("Data Shape: ", Product.shape)
    print("\n---------------------------------------------\n")
    
    s = (Product.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (Product.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(Product)

Initial Specs on data:

Data Shape:  (86, 10)

---------------------------------------------

Category Columns ( 3 ) :
 ['ProductID', 'ProductName', 'QuantityPerUnit']

---------------------------------------------

Numeric Columns ( 7 ) :
 ['SupplierID', 'CategoryID', 'UnitPrice', 'UnitsInStock', 'UnitsOnOrder', 'ReorderLevel', 'Discontinued']

---------------------------------------------

In [53]:
Product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductID        85 non-null     object
 1   ProductName      86 non-null     object
 2   SupplierID       86 non-null     int64
 3   CategoryID       86 non-null     int64
 4   QuantityPerUnit  86 non-null     object
 5   UnitPrice        86 non-null     float64
 6   UnitsInStock     86 non-null     int64
 7   UnitsOnOrder     86 non-null     int64
 8   ReorderLevel     86 non-null     int64
 9   Discontinued     86 non-null     bool
dtypes: bool(1), float64(1), int64(5), object(3)
memory usage: 6.3+ KB

In [54]:
Product.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,False
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,False
2,NaN,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,False
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,False
4,SSS,5,2,2,36 boxes,21.35,0,0,0,True

In [55]:
print("Null Ratio per Column:")
Product.isnull().sum()/len(Product)*100

Null Ratio per Column:

ProductID          1.162791
ProductName        0.000000
SupplierID         0.000000
CategoryID         0.000000
QuantityPerUnit    0.000000
UnitPrice          0.000000
UnitsInStock       0.000000
UnitsOnOrder       0.000000
ReorderLevel       0.000000
Discontinued       0.000000
dtype: float64

In [56]:
Product=Product.drop(columns=['UnitsOnOrder'])
Product=Product.drop(columns=['ReorderLevel'])

In [57]:
Product['ProductID'].replace( 'SSS', '5', inplace=True)
Product['ProductID'].fillna( 3 , inplace=True)

C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\2134945947.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Product['ProductID'].replace( 'SSS', '5', inplace=True)
C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\2134945947.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Product['ProductID'].fillna( 3 , inplace=True)

In [58]:
Product['ProductName'].replace( 5 , 'suchi', inplace=True)

C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\3564938025.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Product['ProductName'].replace( 5 , 'suchi', inplace=True)

In [59]:
Product['ProductID'] = Product['ProductID'].astype(int)

# cleaning of Shippers sheet

In [60]:
def data_Specs(Shippers):
    print("Initial Specs on data: \n")
    print("Data Shape: ", Shippers.shape)
    print("\n---------------------------------------------\n")
    
    s = (Shippers.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (Shippers.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(Shippers)

Initial Specs on data:

Data Shape:  (3, 3)

---------------------------------------------

Category Columns ( 2 ) :
 ['CompanyName', 'Phone']

---------------------------------------------

Numeric Columns ( 1 ) :
 ['ShipperID']

---------------------------------------------

In [61]:
Shippers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ShipperID    3 non-null      int64
 1   CompanyName  3 non-null      object
 2   Phone        3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [62]:
Shippers.head()

   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

In [63]:
Shippers.isnull().sum()/len(Shippers)*100

ShipperID      0.0
CompanyName    0.0
Phone          0.0
dtype: float64

# cleaning of Suppliers sheet

In [64]:
def data_Specs(Suppliers):
    print("Initial Specs on data: \n")
    print("Data Shape: ", Suppliers.shape)
    print("\n---------------------------------------------\n")
    
    s = (Suppliers.dtypes == 'object')
    Cat_cols = list(s[s].index) 
    print("Category Columns (",len(Cat_cols),") : \n",Cat_cols)
    print("\n---------------------------------------------\n")   
    
    s = (Suppliers.dtypes != 'object')
    Nums_cols = list(s[s].index) 
    print("Numeric Columns (",len(Nums_cols),") : \n",Nums_cols)
    print("\n---------------------------------------------")   
data_Specs(Suppliers)

Initial Specs on data:

Data Shape:  (29, 12)

---------------------------------------------

Category Columns ( 11 ) :
 ['CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'Phone', 'Fax', 'HomePage']

---------------------------------------------

Numeric Columns ( 1 ) :
 ['SupplierID']

---------------------------------------------

In [65]:
Suppliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SupplierID    29 non-null     int64
 1   CompanyName   28 non-null     object
 2   ContactName   29 non-null     object
 3   ContactTitle  29 non-null     object
 4   Address       29 non-null     object
 5   City          29 non-null     object
 6   Region        9 non-null      object
 7   PostalCode    29 non-null     object
 8   Country       29 non-null     object
 9   Phone         29 non-null     object
 10  Fax           13 non-null     object
 11  HomePage      3 non-null      object
dtypes: int64(1), object(11)
memory usage: 2.8+ KB

In [66]:
Suppliers.head()

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,NaN,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,NaN
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai\r\nMusashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN

In [67]:
Suppliers.rename(columns={'CompanyName' : 'SuppliersCompanyName'} , inplace=True)
Suppliers.rename(columns={'Country' : 'SuppliersCountry'} , inplace=True)
Suppliers.rename(columns={'City' : 'SuppliersCity'} , inplace=True)

In [68]:
Suppliers.isnull().sum()/len(Suppliers)*100

SupplierID               0.000000
SuppliersCompanyName     3.448276
ContactName              0.000000
ContactTitle             0.000000
Address                  0.000000
SuppliersCity            0.000000
Region                  68.965517
PostalCode               0.000000
SuppliersCountry         0.000000
Phone                    0.000000
Fax                     55.172414
HomePage                89.655172
dtype: float64

In [69]:
Suppliers['SuppliersCompanyName'].fillna('EverGreen', inplace=True)

C:\Users\Cashi\AppData\Local\Temp\ipykernel_24348\365524.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Suppliers['SuppliersCompanyName'].fillna('EverGreen', inplace=True)

In [70]:
Suppliers = Suppliers.drop(columns=['HomePage'])

# Save the cleaned data to a CSV file

In [71]:
Customers.to_csv('Customers.csv', index=False)
Categories.to_csv('Categories.csv', index=False)
Employees.to_csv('Employees.csv', index=False)
OrdersDetails.to_csv('OrdersDetails.csv', index=False)
Orders.to_csv('Orders.csv', index=False)
Product.to_csv('Product.csv', index=False)
Shippers.to_csv('Shippers.csv', index=False)
Suppliers.to_csv('Suppliers.csv', index=False)